################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Casqueclone.slnx/FileContentIndex/0236ba78-a55a-46d8-a2ec-043043f407e8.vsidx
/.vs/Casqueclone.slnx/FileContentIndex/9fc0b13c-065a-46d3-8a73-f8847c8fa69d.vsidx
/.vs/Casqueclone.slnx/FileContentIndex/bfcdde75-ff8f-41d0-b6ba-28f5d8c3ff4a.vsidx
/.vs
